extend layout

block individual_css
    link(href="stylesheets/blog.css" rel="stylesheet") 

block content
    //- the artical container
    div.container-fluid    
        
        //- artical title
        div.blog-header
            h1.blog-title First Artical
            p.lead.blog-description first aritcal example