extend layout

block content
    div.container
        div.page-header
            h1 文章列表
        div.row
            div.col-sm-12  
                table.table.table-hover
                    tr
                        th 文章编号
                        th 文章标题
                        th 文章最后修改日期
                        th 编辑
                        th 删除
                    each blog, idx in blogs
                        tr
                            td= blog._id
                            td= blog.title
                            td= blog.lastEidtDate
                            td
                                button(type="button" class="btn btn-primary") 编辑
                            td
                                button(type="button" class="btn btn-danger") 删除
        div.row
            div.col-sm-1 页面跳转: 
            div.col-sm-11
                div.btn-toolbar
                    div#changePageDiv.btn-group
                        form(action="" method="get" id="changePageForm")
                            input(id="pageNumInput" type="hidden" name="pageNum" value="1")
                            - var pagesIdx = 1
                            while pagesIdx <= pagesCnt
                                button(type="button" class="btn")= pagesIdx++
    script(src="javascripts/bloglist.js")    
                                                                     