extends layout

block content
    // h1= message
    // h2= error.status
    // pre #{error.stack}
    img(src="/images/404.jpg" alt="Page Not Found (404)." style="position: relative; left: 50%; top: 50%; margin-left: -285px; margin-top: 30px;")
    br
    h1(style="text-align: center") Don't try to hack me, it will break my heart. Be a honor man :)
